html,body {
	font-family: 'RobotoDraft', sans-serif;
	color: #454545;
}



nav {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	opacity: 0.9;
}

.nav > li > a {
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.navbar {
	background: none repeat scroll 0% 0% #2196F3;
	margin-bottom: 0px;
	border: 0px none;
}

.navbar-default .navbar-brand {
color: white;
}


.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
color: #FFFC00;
background-color: #2196F3;
}

.navbar-default .navbar-nav>li>a {
color: white;
}

.navbar-default .navbar-nav>li>a:hover {
color: #FFFC00;
}

.navbar-default .navbar-brand:hover {
color: #FFFC00;
}

.navbar-default .navbar-toggle {
border-color: #2196F3;
}

.navbar-default .navbar-collapse {
border: 0px;
}


.Field-container {
	display: inline-block;
	float: left; 
}


.Field-container .links {
	display: block;
	text-align: center;
	height: 20px;
}

h3 {
	font-weight: 200;
	padding: 5px;
	
	margin: 0;
	color: #F44336;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
}

.gv-large h3 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: 300;
	border-bottom: gray 1px dotted;
}

.gv-large h4 {
	margin-top: 30px;
}

.gv-large h5 {
	margin-top: 20px;
}

.gv-large p {
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 150%;
}

.subhead {
	display: block;
	padding-bottom: 10px; 
	font-size: 18px; 
	text-align: center; 
	font-weight: 300;
	border-bottom: gray 1px dotted;
}



h4 {
	margin-top: 20px;
	
	color: #F44336;
}

h5 {
	text-transform: uppercase;
	text-decoration: underline;
	margin-top: 15px;
	text-align: center;
	letter-spacing: 2px;
}

em a, em a:hover, em {
	color: #4caf50;
}

ul {
	padding-left: 16px;
}

.card {
	background: white;
	box-shadow: 0 0 1px rgba(0,0,0,.11),0 1px 2px rgba(0,0,0,.22);
	-webkit-transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
	transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
}

.card:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.gv-blog {
	width: 300px;
	display: inline-block;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 2px;
	float: left;
	position: relative;

}

.gv-small {
	width: 300px;
	height: 570px;
	display: inline-block;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 2px;
	float: left;
	position: relative;
}

.gv-large {
	max-width: 700px;
	padding: 10px 20px;
	display: inline-block;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 2px;
	float: left;
	position: relative;
}

body {
	background: #F4F4F4;
}

.gv-blog .subhead {
	font-size: 14px;
	text-align: left;
	border: 0;
}

.gv-blog .Card-heading {
	height: 120px;
	border: 0;
}

.Card-heading {
	width: 300px;
	background: #1976d2;
	color: white;
	font-size: 24px;
	font-weight: 300;
	height: 80px;
	line-height: normal;
	text-decoration: none solid white;
}

.Card-heading span {
	display: block;
	padding: 5px 10px;
}

.Card-caption {
	background: #1976d2;
	color: white;
	font-size: 12px;
	height: 20px;
	line-height: normal;
	padding: 0px 0px;
	width: 100%;
}

.Card-caption span {
	display: block;
	padding: 0px 10px;
	float: right;
}

.Card-imgContainer {
	background: transparent;
	height: 150px;
	width: 300px;
	overflow: hidden;
}

.Card-lower {
	height: 244px;
	font-size: 12px;
	line-height: 16px;
	margin: 10px ;
	overflow: hidden;
}

.Card-lower .coauthors {
	display: block;
	font-style: italic;
	padding-bottom: 5px;
}

.nopic .Card-lower {
	height: 400px;
}


.Card-bottom {
	border-top: 1px solid #ebebeb;
	font-size: 16px;
	min-height: 50px;
	max-height: 100px;
	line-height: normal;
	width: 100%;
	position: absolute;
	bottom:0px;
	
}

.Card-bottom span {

	padding-left: 15px;
	font-size: 13px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
}

.Card-bottom a {
	text-decoration: underline;

	cursor: pointer;

}

#Hardness h3 {
	color: #F44336;
}

#Hardness a {
	color: #F44336;
}


#Hardness .Card-heading {
	background: #F44336;
}

#Hardness .Card-caption {
	background: #F44336;
}


#Game-theory h3 {
	color: #9c27b0;
}
#Game-theory a {
	color: #9c27b0;
}


#Game-theory .Card-heading {
	background: #9c27b0;
}

#Game-theory .Card-caption {
	background: #9c27b0;
}


#Bio h3 {
	color: #4caf50;
}


#Bio a {
	color: #4caf50;
}


#Bio .Card-heading {
	background: #4caf50;
}

#Bio .Card-caption {
	background: #4caf50;
}



#Streaming h3 {
	color: #00bcd4;
}

#Streaming a {
	color: #00bcd4;
}


#Streaming .Card-heading {
	background: #00bcd4;
}

#Streaming .Card-caption {
	background: #00bcd4;
}



#Blog .Card-heading {
	background: #6CA5BE;
}


#Blog .Card-caption {
	background: #6CA5BE;
}

#Blog .Card-heading a {
	color: #ffffff;
}


#Blog a {
	color: #6CA5BE;
}


#Blog h3 {
	color: #607D8B;
}

@media (max-width: 500px) {
	img {
		max-width: 300px;
		padding:10px 0px;
		margin:0;
	}
}


@media (max-width: 350px) {
  .Field-container {
    padding: 10px 0px;
  }
  .small, .large {
  	margin: 0px;
  }
   .body {
  	padding: 0px;
  }
 
}

@media (max-width: 1024px) {
 .body {
    padding: 0px 0px;
  }
	
}

body {
	padding-top: 60px;
}

blockquote {
display: block;
font-size: 18px;
text-align: left;
font-weight: 300;
padding: 10px;
margin: 10px;
border-left: 1px dotted #808080;

}

.gv-large blockquote p {
	margin: 0px;
}

#footer {
	width: 100%;
	text-align: center;
	padding: 10px;
	color: 
}	

.card strong {
color: rgb(102, 102, 102);
}

