html,body {
	font-family: 'RobotoDraft', sans-serif;
	color: #454545;
}

nav {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


.navbar {
	background: #00bcd4;
	margin-bottom: 0px;
	border: 0px;
}

.navbar-default .navbar-brand {
color: white;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}

.navbar-default .navbar-nav>li>a {
color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: #00bcd4; 
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: #00bcd4; 
}
.navbar-default .navbar-toggle {
border-color: #00bcd4;
}

.navbar-default .navbar-collapse {
border: 0px;
}


.Field-container {
	display: inline-block;
	float: left; 
}


.Field-container .links {
	display: block;
	text-align: center;
	height: 20px;
}

h3 {
	font-weight: 200;
	padding-top: 25px;
	padding-bottom: 10px;
	margin: 0;
	color: #ae2525;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
}

h4 {
	margin-top: 20px;
	color: crimson;
}

h5 {
	text-transform: uppercase;
	text-decoration: underline;
	margin-top: 15px;
	text-align: center;
	letter-spacing: 2px;
}

em a, em a:hover {
	color: green;
}

ul {
	padding-left: 16px;
}

.card {
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.gv-small {
	width: 300px;
	height: 570px;
	display: inline-block;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 2px;
	float: left;
	position: relative;
}

.gv-large {
	max-width: 700px;
	padding: 20px;
	display: inline-block;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 2px;
	float: left;
	position: relative;
}

body {
	background: #F4F4F4;
}


.Card-heading {
	width: 300px;
	background: #1976d2;
	color: white;
	font-size: 24px;
	height: 80px;
	line-height: normal;
	text-decoration: none solid white;
}

.Card-heading span {
	display: block;
	padding: 5px 10px;
}

.Card-caption {
	background: #1976d2;
	color: white;
	font-size: 12px;
	height: 20px;
	line-height: normal;
	padding: 0px 0px;
	width: 100%;
}

.Card-caption span {
	display: block;
	padding: 0px 10px;
	float: right;
}

.Card-imgContainer {
	background: transparent;
	height: 150px;
	width: 300px;
	overflow: hidden;
}

.Card-lower {
	height: 244px;
	font-size: 12px;
	line-height: 16px;
	margin: 10px ;
	overflow: hidden;
}

.Card-lower .coauthors {
	display: block;
	font-style: italic;
	padding-bottom: 5px;
}

.nopic .Card-lower {
	height: 400px;
}


.Card-bottom {
	border-top: 1px solid #ebebeb;
	font-size: 16px;
	min-height: 50px;
	max-height: 100px;
	line-height: normal;
	width: 100%;
	position: absolute;
	bottom:0px;
	
}

.Card-bottom span {

	padding-left: 15px;
	font-size: 13px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
}

.Card-bottom a {
	text-decoration: underline;

	cursor: pointer;

}

#Hardness h3 {
	color: #CD2121;
}

#Hardness a {
	color: #CD2121;
}


#Hardness .Card-heading {
	background: #CD2121;
}

#Hardness .Card-caption {
	background: #CD2121;
}


#Game-theory h3 {
	color: #9c27b0;
}
#Game-theory a {
	color: #9c27b0;
}


#Game-theory .Card-heading {
	background: #9c27b0;
}

#Game-theory .Card-caption {
	background: #9c27b0;
}


#Bio h3 {
	color: #0f9d58;
}


#Bio a {
	color: #0f9d58;
}


#Bio .Card-heading {
	background: #0f9d58;
}

#Bio .Card-caption {
	background: #0f9d58;
}



#Streaming h3 {
	color: #1976d2;
}

#Streaming a {
	color: #1976d2;
}


#Streaming .Card-heading {
	background: #1976d2;
}

#Streaming .Card-caption {
	background:#1976d2;
}

#Streaming {
	margin-bottom: 20px;
}

@media (max-width: 350px) {
  .Field-container {
    padding: 10px 0px;
  }
  .small, .large {
  	margin: 0px;
  }
   .body {
  	padding: 0px;
  }
 
}

@media (max-width: 1024px) {
 .body {
    padding: 0px 0px;
  }
	
}

body {
	padding-top: 60px;
}

